{% extends 'base.html.twig' %}

{% block body %}
<h2>Ajouter un produit</h2>
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Ajouter</button>
{{ form_end(form) }}
{% endblock %}
