{% extends 'base.html.twig' %}

{% block body %}
<nav>
    <a href="{{ path('app_produit_add') }}">Ajouter un produit</a> |
    <a href="{{ path('app_produit_list') }}">Liste des produits</a>
</nav>

<h2>Bienvenue sur le dashboard produit</h2>
{% endblock %}
